# Database Configuration
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=ssokudrang
DB_USERNAME=dechachit
DB_PASSWORD=dd0648282939DD
DB_ROOT_PASSWORD=dd0648282939DD

# Application Configuration
APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost:8085

# Server Ports
NGINX_PORT=8085
MYSQL_PORT=3310
PHPMYADMIN_PORT=8086
